# Python For Data Science

#### Important Shortcuts to get started with Jupiter

Shift + Enter  =  RUN  
Y key  =  Code Cell  
M key  = Markdown Cell  
A key  =  row insertion above current cell  
B key  =  row insertion below current cell  
F key  =  Find and Replace  
We can press number in command mode to define the number of # in a cell for its size. 1  =  # , 2  =  ## and so on  
X key  =  Cut the cell  
V key  =  Paste the cell below,  Shift + V  =  Paste the cell above  
D + D  =  Delete the cell  
Z  =  Undo the deletion  
Ctrl + S  =  checkpoint created  
H  =  View all the shortcuts

### Hello World

In [2]:
print("Hello World")

Hello World

In [7]:
# This is a comment
"Hello World"
# This can done in any other Python IDE

'Hello World'

Last line is executed automatically in Jupiter Notebook  
We can add comment using #

In [8]:
type("Hello World")

str

type () gives the data type of variable as output

In [13]:
print("Hello World".upper())
# .upper() function capitalizes all the letters of the string
print("Hello World".lower())
# .lower() function lowers all the letters of the string
print("Hello World".title())
# .title() captitalizes first letter of every word.

HELLO WORLD
hello world
Hello World

In [14]:
"Hello World".count('l')
# We did not use print function here since last line is executed automatically. 
# The .count('') function counts the number '' in the string

3

### Variables

In [15]:
message_1 = "Hello World"

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [16]:
message_1

'Hello World'

In [17]:
message_2 = "and Hello Yash"

In [18]:
message_1 + message_2

'Hello Worldand Hello Yash'

In [19]:
f'{message_1} {message_2}'

'Hello World and Hello Yash'

f strings, allows you to use variables between '' using the help of {}

### Lists

Lists are mutable data types in Python, they can change their data's value

In [20]:
countries = ["United States", "India", "China", "Brazil"]

In [21]:
countries

['United States', 'India', 'China', 'Brazil']

In [22]:
countries[0]

'United States'

In [23]:
countries[-4]

'United States'

Indexing starts with 0 from first element towards the last and -1 from last element towards first.

##### Slicing

In [24]:
#list_name[start:stop]
#stop is not included, we stop at stop
countries[0:3]

['United States', 'India', 'China']

In [27]:
countries[1:4]
# OR
countries[1:]

['India', 'China', 'Brazil']

In [28]:
countries[:2]

['United States', 'India']

##### Adding elements to the list

In [29]:
# Append
countries.append('Vietnam')

In [30]:
countries

['United States', 'India', 'China', 'Brazil', 'Vietnam']

In [40]:
#.insert(index, data)
countries.insert(0, 'Russia')

In [41]:
countries

['Russia', 'Russia', 'Russia', 'Russia', 'India', 'China', 'Brazil']

We can join two lists using + operator just like we did in strings  
We can create a new list and add these two lists in that too, creating a nested list  
nested_list = [countries1 , countries2]

##### Removing Elements from the list

In [47]:
#.remove(data)
countries.remove('Russia')

In [48]:
countries

['Russia', 'India', 'China', 'Brazil']

In [36]:
# To remove using index - .pop(index), .pop removes element and returns that element
countries.pop(-1)

'Vietnam'

In [49]:
countries

['Russia', 'India', 'China', 'Brazil']

In [50]:
del countries[0]

In [51]:
countries

['India', 'China', 'Brazil']

##### Sorting the list

In [52]:
numbers = [4, 3, 10, 7, 1, 2]

In [53]:
numbers.sort()

In [54]:
numbers

[1, 2, 3, 4, 7, 10]

In [58]:
#To sort in descending order we do
numbers.sort(reverse=True)

In [59]:
numbers

[10, 7, 4, 3, 2, 1]

##### Update an element

In [60]:
numbers[0]

10

In [61]:
numbers[0] = 100

In [62]:
numbers

[100, 7, 4, 3, 2, 1]

##### Copying a list

First method is slicing as we saw above, slicing creates a copy and does not edit the same list

In [63]:
countries[:]

['India', 'China', 'Brazil']

Using the copy Method

In [64]:
countries.copy()

['India', 'China', 'Brazil']

### Dictionary

dictionary_name = {
    'key1' : 'value1',
    'key2' : 'value2'
}

In [66]:
my_data = {'name' : 'Yash', 'Age' : 21}

In [67]:
my_data.keys()

dict_keys(['name', 'Age'])

Prints the keys of our dictionary

In [68]:
my_data.values()

dict_values(['Yash', 21])

Prints the data of our dictionary

In [69]:
my_data.items()

dict_items([('name', 'Yash'), ('Age', 21)])

Prints the pairs i.e items of our dictionary

In [76]:
my_data['height'] = 183
# Making a new key : value pair in your dictionary

In [72]:
my_data

{'name': 'Yash', 'Age': 21, 'height': 183}

In [83]:
# Update a dictionary
my_data.update({'height' : 182})

In [77]:
my_data

{'name': 'Yash', 'Age': 21, 'height': 183}

In [78]:
# COPY A DICTIONARY
my_data.copy()

{'name': 'Yash', 'Age': 21, 'height': 183}

In [84]:
#Remove a key:value pair from the dictionary
my_data.pop('height')

182

In [85]:
my_data

{'name': 'Yash', 'Age': 21}

In [87]:
del my_data['Age']

In [88]:
my_data

{'name': 'Yash'}

In [89]:
#Clear your dictionary
my_data.clear()

In [91]:
my_data

{}

### Conditional Statement

##### If Statement

if (condition) :  
    (code)  
elif (condition) :  
    (code)  
else :  
    (code)

In [92]:
age = 18

if (age >= 18) :
    print("You are an adult")
else :
    print("You are not an adult")

You are an adult

### Conditional Statements

##### For loop

for (variable) in (list):
    code

In [93]:
for country in countries :
    print(country)

India
China
Brazil

In [96]:
#enumerate() function returns the number of loop and the variable itself
for country in enumerate(countries) :
    print(country)

(0, 'India')
(1, 'China')
(2, 'Brazil')

In [97]:
for i , country in enumerate(countries) :
    print(i)
    print(country)

0
India
1
China
2
Brazil

In [98]:
my_data = {'name' : 'Yash', 'age' : 21}

In [101]:
for key, value in my_data.items() :
    print(key)
    print(value)

name
Yash
age
21

### Functions